/*--------------------------------------------------------------*/
/* style sheet - Rainbow Noir									*/
/*--------------------------------------------------------------*/

/* import fonts */
@font-face { font-family: edo; /* https://github.com/zurb/wired2015-static/tree/master/src/assets/fonts/edo */
	src: url("../fonts/edo/edo-webfont.eot"); /* IE9 Compat Modes */
	src: url("../fonts/edo/edo-webfont.woff2") format('woff2'), /* Super Modern Browsers */
		url("../fonts/edo/edo-webfont.woff") format('woff'), /* Pretty Modern Browsers */
		url("../fonts/edo/edo-webfont.ttf")  format('truetype'), /* Safari, Android, iOS */
		url("../fonts/edo/edo-webfont.svg#svgFontName") format('svg'); /* Legacy iOS */
}
@font-face { font-family: ptsans;
	src: url("../fonts/ptsans/ptsans-webfont.eot"); /* IE9 Compat Modes */
	src: url("../fonts/ptsans/ptsans-webfont.woff") format('woff'), /* Pretty Modern Browsers */
		url("../fonts/ptsans/ptsans-webfont.ttf")  format('truetype'), /* Safari, Android, iOS */
		url("../fonts/ptsans/ptsans-webfont.svg#svgFontName") format('svg'); /* Legacy iOS */
}



/* master reset */
body, div, h1, h2, h3, h4, p, ul, ol, li, img, table, tr, td, a{margin:0; padding:0;}


/* setting variables */
:root {
	--fontpaint: edo;
	--fontsans: ptsans;
	--blackcolor: black;
	--textcolor: white;
	--theme1: #000000;
	--theme2: #232b2b;
	--ctest: rgb(50,50,50);
	--flagbrown:#7c3f00;
	--flagpink:#f699cd;
	--flagred:#ed1c24;
	--flagorange:#f7931e;
	--flagyellow:#fcee21;
	--flaggreen:#39b54a;
	--flagblue:#29abe2;
	--flagindigo:#373fa5;
	--flagpurple:#662d91;
}


/* fonts */
body, div, h1, h2, h3, h4, p, ul, ol, li, img, table, tr, td, a{ font-family: edo, cursive; font-family: ptsans, sans-serif;}
html { font-size: 15px; color: var(--textcolor);}
@media (min-width: 900px) { html{font-size: 17px;}}
@media (min-width: 1200px) { html{font-size: 20px;}}
h1 { font-size: 3.125em; padding: 5px 0; font-family: var(--fontpaint);}
/* h2 { font-size: 2.3125em;} */
/*h2 { font-size: 2.3125em; padding: 10px 0; font-family: var(--fontpaint);}
h3 { font-size: 1.75em; padding: 10px 3px; font-family: var(--fontsans);}
h4 { font-size: 1.75em; padding: 20px 3px; font-family: var(--fontsans);}
p { font-size: 1em; padding: 10px 3px; font-family: var(--fontsans);}*/
h2 { font-size: 1.8em; padding: 10px 0; font-family: var(--fontpaint);}
h3 { font-size: 1.4em; padding: 10px 3px; font-family: var(--fontsans); font-weight: bold;}
h4 { font-size: 1.4em; padding: 20px 3px; font-family: var(--fontsans);}
p { font-size: 1em; padding: 10px 3px; font-family: var(--fontsans);}


/* formatting */
a { color: var(--textcolor);}
ul { margin-left: 2em;}
li { width: 100%;}


/* general */
.fp { min-height: 100vh;}
.np { padding: 10px 10px 45px; width: 95%; margin: auto;}
@media (min-width:993px){.np {max-width: 900px;}}
@media (min-width:600px){.np {min-width: 590px;}}
@media (max-width:600px){.np {width:98%; padding: 2px 2px 20px;}}
.heading { width: 100%; text-align: center; padding: 40px 0px;}
.clear {clear:both;}
.B { font-weight: bold;}
.font {font-family: var(--fontpaint); font-size: 1.2em;}


/* flag span */
span.red{color: var(--flagred);}
span.orange{color: var(--flagorange);}
span.yellow{color: var(--flagyellow);}
span.green{color: var(--flaggreen);}
span.blue{color: var(--flagblue);}
span.indigo{color: var(--flagindigo);}
span.purple{color: var(--flagpurple);}


/* flag hover */
a.brown:hover{color: var(--flagbrown);}
a.pink:hover{color: var(--flagpink);}
a.red:hover{color: var(--flagred);}
a.orange:hover{color: var(--flagorange);}
a.yellow:hover{color: var(--flagyellow);}
a.green:hover{color: var(--flaggreen);}
a.blue:hover{color: var(--flagblue);}
a.indigo:hover{color: var(--flagindigo);}
a.purple:hover{color: var(--flagpurple);}


/* icons basic */
img.icon {height: 1em;}



/*--------------------------------------------------------------*/
/* WRAPPER														*/
/*--------------------------------------------------------------*/
.wrapper{
	background-color: var(--theme1);
	position: relative;
}
.social-links {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.75em;
	color: var(--textcolor);
	padding: 0.1em 0.4em;
	display: block;
	z-index: 1;
}
.social-links img.icon {
	vertical-align: middle;
}
@media (min-width:600px){
	.social-links {
		position: absolute;
	}
	.social-links a {
		display: inline-block;
		padding: 0.1em;
		color: var(--textcolor);
	}
	.social-links a:hover {}
}



/*--------------------------------------------------------------*/
/* NAVBAR														*/
/*--------------------------------------------------------------*/
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.95);
}
.overlay-content {
  position: relative;
  top: 18%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  font-family: var(--fontpaint);
  padding: 8px;
  text-decoration: none;
  font-size: 2em;
  color: var(--textcolor);
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {

}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 0.4em 0em;
}
.nav span.nav-button {
	font-family: var(--fontpaint);
	font-size: 1.4em;
	padding: 0.2em 0.5em;
	margin: 0.4em 0;
	border: 4px solid var(--textcolor);
	border-radius: 0 1.2em 1.2em 0;
	box-shadow: 0 0 0 2px var(--theme1);
	background-color: var(--theme1);
	border-left: none;
	display: block;
}
.nav span.nav-button:hover {
	transition: 0.3s; 
	background-color: var(--textcolor);
	border-color: var(--theme1);
	box-shadow: 0 0 0 2px var(--textcolor);
	color: var(--theme1);
}

.nav span.exit a {
	font-family: var(--fontpaint);
	font-size: 1em;
	padding: 0.2em 0.5em;
	border: 4px solid var(--textcolor);
	border-radius: 0 1.2em 1.2em 0;
	box-shadow: 0 0 0 2px var(--flagpurple);
	background-color: var(--flagpurple);
	border-left: none;
	display: block;
	text-align: center;
	text-decoration: none;
}
.nav span.exit a:hover {
	transition: 0.3s; 
	background-color: var(--textcolor);
	border-color: var(--theme1);
	box-shadow: 0 0 0 2px var(--textcolor);
	color: var(--theme1);
}

.nav span.nav-button img.icon {
	vertical-align: middle;
}
.nav span.nav-button:hover img.b {
	display: inline;
}
.nav span.nav-button img.b {
	display: none;
}
.nav span.nav-button:hover img.w {
	display: none;
}


/* .nav span.nav-button:hover span.brown{color: var(--flagbrown);}
.nav span.nav-button:hover span.pink{color: var(--flagpink);}
.nav span.nav-button:hover span.red{color: var(--flagred);}
.nav span.nav-button:hover span.orange{color: var(--flagorange);}
.nav span.nav-button:hover span.yellow{color: var(--flagyellow);}
.nav span.nav-button:hover span.green{color: var(--flaggreen);}
.nav span.nav-button:hover span.blue{color: var(--flagblue);}
.nav span.nav-button:hover span.indigo{color: var(--flagindigo);}
.nav span.nav-button:hover span.purple{color: var(--flagpurple);} */



/*--------------------------------------------------------------*/
/* HOME															*/
/*--------------------------------------------------------------*/

/* mobile */
.home .mobile video{
		display: block;
		width: 99vw; /* 96% of viewport width */
		height: 176vw; /* ratio = 16/9 * 96 = 54 */
		max-height: 96vh;
		max-width: 54vh; /* 9/16 * 96 = 128 */
		margin: 0 auto;
		z-index: -1;
}
.home .desktop {
	display: none;
}


/* desktop */
@media (min-width:700px){
	.home .mobile {
		display: none;
	}
	.home .desktop {
		display: block;
		/* padding: 3em 0; */
		width: 100%;
		z-index: -1;
	}
	.home .desktop video{
		display: block;
		width: 96vw; /* 96% of viewport width */
		height: 54vw; /* ratio = 9/16 * 96 = 54 */
		max-height: 99vh;
		max-width: 176vh; /* 16/9 * 99 = 176 */
		margin: 0 auto;
		z-index: -1;
	}
	
	.home .desktop video, .home .desktop video:focus {
		outline: 0;
		box-shadow: none!important;
	}
}




/*--------------------------------------------------------------*/
/* ABOUT														*/
/*--------------------------------------------------------------*/
.about {
	padding: 4em 0 8em 0;
}
.about p {
	font-size: 1.2em;
	line-height: 1.5em;
}



/*--------------------------------------------------------------*/
/* SOCIALS														*/
/*--------------------------------------------------------------*/
.socials{

}
.socials .details {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.socials .details .monthly {
	background-color: var(--flagred);
	width: 40%;
	padding: 0.5em 0.5em;
	margin-bottom: 2em;
}
.socials .details .monthly p {
	padding: 0.2em;
	font-weight: bold;
}
.socials .details .monthly h3 {
	font-size: 1.5em;
	padding: 0.2em;
}

@media (max-width:600px){
	.socials .details .monthly {
		background-color: var(--flagred);
		width: 80%;
		min-width: 100px;
	}
}



/*--------------------------------------------------------------*/
/* EVENTS														*/
/*--------------------------------------------------------------*/
.events {
	width: 100%;
	text-align: center;
	margin-bottom: 9em;
	margin-top: 3em;
}
.events a.accordion {
	cursor: pointer;
	margin: 0 auto;
	padding: 0.2em 0.5em;
	border: 2px solid var(--textcolor);
	border-radius: 20px;
}
.events .active, .accordion:hover {
  color: var(--theme1);
  background-color: var(--textcolor);
  transition: 0.3s;
}
.events .accordion:after {
  content: 'Show more events...'; /* Unicode character for "plus" sign (+) */
  font-size: 1.2em;
  font-family: var(--fontpaint);
}
.events .active:after {
  content: "Hide events"; /* Unicode character for "minus" sign (-) */
}
.events .more-events {
	background-color: var(--theme2);
	margin: 0 auto;
	padding: 2em 0;
	width: 100%;
	display: none;
	overflow: hidden;
}

@media (min-width:850px){
	.events .more-events {
		background-image: url("../images/background/paint2.jpg");
		background-repeat: no-repeat; /* Do not repeat the image */
		background-position: center;
		background-size: cover; /* Resize the background image to cover the entire container */
	}
}

.events .more-events iframe.desktop{
	display: none;
}
@media (min-width: 340px) {
	.events .more-events iframe.mobile{
		display: none;
	}
	.events .more-events iframe.desktop{
		display: inline-block;
	}
} 




/*--------------------------------------------------------------*/
/* PROJECTS														*/
/*--------------------------------------------------------------*/
.projects {
	margin: 0 auto;
	margin-bottom: 4em;
	max-width: 1200px;
}
.projects .project-grid .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.projects .project-grid .container .item {
	background-color: var(--theme2);
	background-position: center top; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	width: 32.3%;
	height: 18.3vw;
	min-height: 200px;
	min-width: 280px;
	margin: 0.3%;
	position: relative;
	vertical-align: middle;
	text-align: center;
	
}
.projects .project-grid .container .item p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: var(--fontpaint);
	font-size: 1.5em;
	text-shadow: 3px 3px 8px var(--theme1), -3px 3px 8px var(--theme1), 3px -3px 8px var(--theme1), -3px -3px 8px var(--theme1);
}

/*--------------------------------------------------------------*/
/* ACKNOWLEDGEMENTS												*/
/*--------------------------------------------------------------*/
.acknowledgements {
	text-align: center;
	padding: 1em 0;
}
.acknowledgements .logos {
	min-height: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
.acknowledgements .logos .item {
	display: inline-block;
	padding: 0 2%;
	width: 10%;
	min-width: 90px;
}
.acknowledgements .logos .item img {
	width: 100%;
	max-height: 120px;
	object-fit: contain;
}
.acknowledgements .logos .item a {
	transition: 0.3s;  
}
.acknowledgements .logos .item a.hover-opt img:last-child {
	display: none;  
}
.acknowledgements .logos .item a.hover-opt:hover img:last-child {
	display: block;  
}
.acknowledgements .logos .item a.hover-opt:hover img:first-child {
	display: none;  
}



/*--------------------------------------------------------------*/
/* IMAGE GRID													*/
/*--------------------------------------------------------------*/
.image-grid {
	padding: 2em 0;
}
.image-grid .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.image-grid .container .item {
	background-color: var(--theme2);
	width: 49.4%;
	padding-top: 49.4%; /* 1:1 Aspect Ratio */
	margin: 0.3%;
	position: relative;
}
.image-grid .container .no-disp1 {
	display: none;
}
.image-grid .container .no-disp2 {
	display: none;
}
.image-grid p {
	text-align: right;
	padding-right: 1em;
}
.image-grid a {
	color: var(--textcolor);
	text-decoration: none;
}

@media (min-width: 580px) {
	.image-grid .container .item {
		width: 32.6%;
		padding-top: 32.6%; /* 1:1 Aspect Ratio */
		margin: 0.3%;
		position: relative;}
	.image-grid .container .no-disp2 {
		display: initial;}
}
@media (min-width: 1200px) { 
	.image-grid .container .item {
		width: 19.4%;
		padding-top: 19.4%; /* 1:1 Aspect Ratio */
		margin: 0.3%;
		position: relative;}
	.image-grid .container .no-disp1 {
		display: initial;}
}
.image-grid .container .item img{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
}





/*--------------------------------------------------------------*/
/* FOOTER														*/
/*--------------------------------------------------------------*/
.footer {
	vertical-align: middle; 
	font-family: var(--fontpaint); 
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footer .left {
	width: 100%; 
	margin: 0 auto;
	text-align: center;
}
.footer .left img {
	width: 30%; 
	min-width: 210px;
	max-width: 350px;
	border: var(--textcolor) 0 solid;
}
.footer .left p {
	font-size: 0.8em;
}
.footer .right {
	color: var(--textcolor);
	display: block;
	margin: -10px auto;
}
.footer .right a {
	color: var(--textcolor); 
	text-decoration: none;
	font-family: var(--fontpaint);
}
.footer .right p {
	font-size: 1.8em; 
	font-family: var(--fontpaint);
	display: inline-block;
}
.footer .right span.display {
	display: none;
}

@media screen and (min-width: 600px) {
	.footer {
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		padding: 10px 10px 10px;
		/*max-width: 850px;
		margin: 0 auto;*/
	}
	.footer .left {
		width: 30%; 
		min-width: 100px; 
		max-width: 340px;
		margin: 0;
	}
	.footer .left img {
		width: 100%;
	}
	.footer .right {
		text-align: right;
		margin: 0 4px;
	}
	.footer .right p {
		font-size: 1em;
		display: block;
	}
	.footer .right a {
		display: inline-block;
		line-height: 1.4em;
		vertical-align: middle;
	}
	.footer .right img.icon {
		height: 1.4em;
		line-height: 1.4em;
		vertical-align: middle;
		padding: 0 0.2em;
	}
	.footer .right span.display img.icon-inline {
		height: 1em;
		line-height: 1.4em;
		vertical-align: middle;
	}
	.footer .right span.display {
		display: inline;
	}
}
.foot-notes {
	width: 90vw; 
	margin: 0 auto;
	text-align: center;
	padding-bottom: 1em;
}
.foot-notes p {
	font-size: 0.8em;
	padding: 0.2em;
}
.foot-notes a {
	padding: 0 0.4em;
	display: inline-block;
}

